/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 9:52:55 AM
    Author     : brentsmith
*/

@import url('http://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');

h1 {font-family: "Raleway";font-size: 34px;color: #ffffff;}
h2 {font-family: "Raleway";font-size: 22px;color: #ffffff;}
h3 {color: #ffffff;}
p {font-size: 18px;color: #ffffff;}


#top-banner-text {
	padding-left: 40px;
}

td {
	color: #ffffff;
}

#form {
	color: cornflowerblue;
}


.un-banner {
	
	background-image: url('/images/background_header.png');
    list-style-type: none;
    margin: 0px;
    text-align: left;
    padding-top: .5px;
    padding-bottom: .5px;
    margin-left: 0px;
    margin-right: 0px;
}

.link{
	text-decoration: underline;
	font-family: "Trade Gothic", 'regular';
    font-size: 16px;
    color: #ffffff;
}

body {
    background-image: url('/images/background-black.jpg');
    margin: 0 auto;
}

header {
    font-family: "Raleway";
    font-size: 16px;
}

header ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-color: cornflowerblue;
    list-style-type: none;
    margin: 0px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

header ul ul {
    display: none;
}

header ul li:hover > ul {
    display: block;
}

header ul li:hover > ul { margin: 0px; padding: 0px; }
header ul li:hover > ul li { float:none; display: block; }
header ul li:hover > ul li a { color:#4d4d4d; min-width:50px; }
header ul li:hover > ul li a:hover { color:#989a4a; }


header ul li { position: relative;}
header ul li ul { position: absolute; top: 26px; left: 0px; }

footer ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    background-image: url('/images/background_header.png');
    list-style-type: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

header li {
    display: inline;
}

footer li {
    display: inline;
    color: #ffffff;
}

header a, footer a {
    display: inline-block;
    width: 80px;
    text-decoration: none;
}

header a:link {color: #ffffff;}      /* unvisited link */
header a:visited {color: #ffffff;}  /* visited link */
header a:hover {color: #000000;}  /* mouse over link */
header a:active {color: #ffffff;}  /* selected link */ 

.homepic {
	text-align:center;
    margin-top:30px;
    margin-bottom:20px;
}

.standard{
	margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px;
	min-height: 650px;
}

.form {
	background-color: #ccc;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 2px solid;
    border-radius: 25px;
    font-family: "Raleway";
    font-size: 14px;
}

form {
	color: #ffffff;
}

.survey {
	font-family: "Raleway";
    font-size: 18px;
}

::-webkit-input-placeholder {
   color: #4d4d4d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;
}

:-ms-input-placeholder {  
   color: #4d4d4d;
}

.outline{
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
}

